<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>#SHOOK</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script async src="//platform.twitter.com/widgets.js" charset='utf-8'></script>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="/modalsAndForms.css">
</head>

<body>
  <div id="iframe-div">
   <img id="iframe-pic"
      src="/img/city.gif">
   </img>
  </div>
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand topnav" href="#">#SHOOK</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <button type="button" class="nav-button" data-toggle="modal" data-target="#newBetModal" data-whatever="@mdo">New Bet</button>
          </li>
          <li>
            <form class="" action="/" method="get">
              <button type="submit" name="" class="nav-button">Home</button>
            </form>
          </li>
          <li>
            <form class="" action="/auth/logout" method="get">
              <button type="submit" name="logout" class="nav-button">Logout</button>
            </form>
          </li>
          <li>
            <a href='https://twitter.com/shookbot' class='twitter-follow-button' data-show-screen-name='false' data-show-count='false'>Follow @shookbot</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row" id="card-container">
    <div class="col-lg-8 col-sm-8">
      <div class="card hovercard">
          <div class="card-background"></div>
          <div class="useravatar">
              <img alt="" src="https://cdn3.iconfinder.com/data/icons/black-easy/256/535108-user_256x256.png">
          </div>
          <div class="card-info"> <span class="card-title">{{user.first_name}} {{user.last_name}}</span>
          </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <div class="hidden-xs">Active Bets</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  <div class="hidden-xs">Completed Bets</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <div class="hidden-xs">Account Info</div>
              </button>
          </div>
      </div>
          <div class="well">
        <div class="tab-content">
          {{#each bets}}
          <div class="tab-pane fade in active" id="tab1">
            <h5>Title:&nbsp;&nbsp;&nbsp; {{title}}</h5>
            <h5>Terms:&nbsp;&nbsp;&nbsp;  {{terms}}</h5>
            <h5>Consequences: &nbsp;&nbsp;&nbsp; {{consequences}}</h5>
            <h5>Start Date:&nbsp;&nbsp;&nbsp;  {{bet_start_date}}</h5>
            <h5>End Date: &nbsp;&nbsp;&nbsp; {{bet_end_date}}</h5>
          </div>
          {{/each}}
          <div class="tab-pane fade in" id="tab2">
            <h3>This is tab 2</h3>
          </div>
          {{#each user}}
          <div class="tab-pane fade in" id="tab3">
            <h5>First Name:&nbsp;&nbsp;&nbsp;{{first_name}}</h5>
            <h5>Last Name:&nbsp;&nbsp;&nbsp;{{last_name}}</h5>
            <h5>Username:&nbsp;&nbsp;&nbsp;{{username}}</h5>
            <h5>Email Address:&nbsp;&nbsp;&nbsp;{{email}}</h5>
            <h5>Bets won:&nbsp;&nbsp;&nbsp;{{bets_won}}</h5>
            <h5>Bets lost:&nbsp;&nbsp;&nbsp;{{bets_lost}}</h5><br>
            <h6><a data-toggle="modal" data-target="#editProfileModal" class="sign-up">Edit Profile</a></h6>
          </div>
          {{/each}}
        </div>
      </div>

    </div>
    {{#each user}}
    <div id="editProfileModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">EDIT PROFILE INFORMATION</h4>
          </div>
          <div class="modal-body">
            <form class="modal-form" action="/auth" method="post">
             <div class="form-group">
               <label for="first_name">First Name</label>
               <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstnameHelp" value="{{first_name}}" name="first_name">
             </div>
             <div class="form-group">
               <label for="last_name">Last Name</label>
               <input type="text" class="form-control" id="inputUserLastName" aria-describedby="LastHelp" value="{{last_name}}" name="last_name">
             </div>
             <div class="form-group">
               <label for="username">User Name</label>
               <input type="text" class="form-control" id="inputUserName" aria-describedby="usernameHelp" value="{{username}}" name="username">
             </div>
             <div class="form-group">
               <label for="email">Email address</label>
               <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" value="{{email}}" name="email">
             </div>
            <div class="form-group">
               <label for="avatar">Profile Photo</label>
               <input type="text" class="form-control" id="inputImage" value="{{avatar}}" name="avatar">
            </div>
             <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

    <div id="newBetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content re-size">
         <div class="modal-header">
           <h2 class="modal-title" id="exampleModalLabel">Add New Bet</h2>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <form class="modal-form" action="/users/newBet" method="post">
             <div class="form-group">
               <div class = "versus">
                 <label class="opponent"  for="opponentName">Opponent Name</label><br>
                 <select multiple class="form-control" id="opponentName" class="opponent" name="opponent">
                   <option>Izabela</option>
                   <option>Justin</option>
                   <option>Tristan</option>
                   <option>Tom</option>
                   <option>Nick</option>
                   <option>Lee</option>
                   <option>George</option>
                   <option>Jackson</option>
                 </select>
             </div>
             <div class="form-group">
               <label for="recipient-name" class="form-control-label">Title:</label>
               <input type="text" class="form-control" id="title-name" name="title">
             </div>
             <div class="form-group">
               <label for="message-text" class="form-control-label">Terms:</label>
               <textarea class="form-control" id="bet-text" name="terms"></textarea>
             </div>
             <div class="form-group">
               <label for="message-text" class="form-control-label">Consequences:</label>
               <textarea class="form-control" id="terms-text" name="consequences"></textarea>
             </div>
             <div class="form-group">
               <label for="example-date-input" class="col-2 col-form-label"> Start Date</label>
               <div class="col-10">
                 <input class="form-control" type="date" value="2011-08-19" id="example-date-input" name="bet_start_date">
              </div>
            </div>
            <div class="form-group">
             <label for="example-date-input" class="col-2 col-form-label"> End Date</label>
              <div class="col-10">
               <input class="form-control" type="date" value="2011-08-19" id="example-date-output" name="bet_end_date">
              </div>
            </div>
            <div class="col-10">
             <button type="submit" class="btn btn-primary" id="submit-new-bet">Submit</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Close</button>
            </div>
           </div>
          </form>
         </div>
       </div>
      </div>
    </div>

    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#contact">Contact</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <form class="" action="/auth/logout" method="get">
                  <button type="submit" name="logout" class="footer-button">Logout</button>
                </form>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; SHOOK 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/eventListeners.js"></script>

</body>

</html>
